<div class=" content">
  <div class=" row">




    <div class=" col-6">
      <div class=" card">
        <div class=" card-header"><h5 class=" title">Mortgage Calculator (or any fixed-rate loans)</h5></div>
        <div class=" card-body">
          <form>
            <div class=" row">
              <div class=" col-8 pr-md-1">
                <div class=" form-group">
                  <label> Mortgage Amount </label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">$</span>
                    </div>
                  <input
                    class=" form-control"
                    placeholder="$"
                    type="number"
                    [(ngModel)]="principleAmount"
                    name="principleAmount"
                    [min]="0"
                  />
                </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class=" col-md-5 pr-md-1">
                <div class=" form-group">
                  <label for="termLength"> Term Length (years)</label>
                  <input
                    class=" form-control"
                    placeholder="(in years)"
                    type="number"
                    id="termLength"
                    [(ngModel)]="termLength"
                    name="termLength"
                    [min]="0"
                  />
                </div>
              </div>

            </div>
            <div class="row">

              <div class=" col-md-5 pr-md-1">
                <label> Interest Rate (%)</label>
                <input
                  class=" form-control"
                  placeholder="%"
                  type="number"
                  [(ngModel)]="interestRate"
                  name="interestRate"
                  [min]="0"
                />
              </div>
            </div>

            <div class=" row mb-5">
              <div class=" col-md-6 pr-md-1">

                <label> Total Interest </label>
                <p>{{totalInterest() | currency}}</p>

              </div>
              <div class=" col-md-6 pl-md-1">

                <label> Monthly Payment (for {{monthAmount()}} months)</label>
                <p>{{monthlyPayment() | currency}} </p>
              </div>

            </div>
            <div class=" row mb-3">
              <div class=" col-md-12 toast-center-center">

                <label> Total Cost of Mortgage </label>

                <p>{{totalCost() | currency}}</p>
              </div>
            </div>

            <div class="row">
              <button class="btn btn-success ml-3" (click)="visualizeData()">Visualize Data</button>
            </div>
          </form>
        </div>
      </div>
      <div id="chart-container">
        <canvas #myCanvas id="canvas" baseChart
                [chartType]="chartType3"
                [datasets]="chartData3"
                [labels]="chartLabels3"
                [colors]="chartColors3"
                [options]="chartOptions3"></canvas>
      </div>

      <div id="chart-container">
        <canvas #myCanvas id="canvas" baseChart
                [chartType]="chartType4"
                [datasets]="chartData4"
                [labels]="chartLabels4"
                [colors]="chartColors4"
                [options]="chartOptions4"></canvas>
      </div>

    </div>





    <div class="col-6 mb-10">
      <h3 style="text-align:center">Payment Breakdown and Amortization Schedule</h3>

      <div id="chart-container">
        <canvas baseChart
                [chartType]="chartType"
                [data]="chartData"
                [labels]="chartLabels"
                [options]="chartOptions">
        </canvas>
      </div>



        <div id="chart-container">
          <canvas #myCanvas id="canvas" baseChart
                  [chartType]="chartType2"
                  [datasets]="chartData2"
                  [labels]="chartLabels2"
                  [colors]="chartColors2"
                  [options]="chartOptions2"></canvas>
        </div>
      </div>



  </div>
</div>


